@charset "UTF-8";@media (max-width: 1024px) {
    #footArea,.tourHeader {
        display:none
    }
}

@media (min-width: 1025px) {
    .footer,.pageHeader {
        display:none
    }
}

/*!
 _ _  _
| | || | tour v2.0.27
| | || | INTERPARK UI Development Team
`___'|_| /styles/common/common.scss

*/
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

dfn,em,i {
    font-style: normal
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

ins {
    text-decoration: none
}

ins,mark {
    background-color: #ff9;
    color: #000
}

mark {
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: none
}

input,select {
    vertical-align: middle
}

input {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=text]::-ms-clear,input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {
    display: none
}

.bottomCardWrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    max-width: 102.4rem;
    min-width: 32rem;
    transform: translate(-50%,3rem);
    z-index: 1000;
    align-items: flex-end;
    display: none;
    opacity: 0;
    transition: all .25s ease-in-out
}

.bottomCardWrapper .bottomCardContainer {
    display: none;
    position: relative;
    width: 100%;
    height: calc(100% - 2rem);
    background: #fff;
    border-radius: 2rem 2rem 0 0;
    box-sizing: border-box;
    flex-direction: column
}

.bottomCardWrapper .bottomCardContainer:before {
    content: "";
    position: absolute;
    top: -1.8rem;
    left: 0;
    width: 100%;
    height: 8.5rem;
    background-image: linear-gradient(180deg,transparent 8%,rgba(0,0,0,.33) 40%)
}

.bottomCardWrapper .bottomCardContainer.on {
    display: flex
}

.bottomCardWrapper .bottomCardHeader {
    position: relative;
    padding: 2.5rem 2rem 1.5rem;
    background: #fff;
    border-radius: 1.3rem 1.3rem 0 0
}

.bottomCardWrapper .bottomCardHeader h2 {
    padding-right: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2.5rem;
    line-height: 3.7rem;
    font-weight: 700;
    color: #000
}

.bottomCardWrapper .bottomCardHeader .closeCard {
    position: absolute;
    top: 2rem;
    right: 1rem
}

.bottomCardWrapper .bottomCardHeader .closeCard button {
    width: 4.6rem;
    height: 4.6rem;
    background: url(//openimage.interpark.com/UI/tour/common/hotel/bottomCard/icon_close.svg) no-repeat 50%;
    padding: 0;
    text-indent: -9999rem;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain
}

.bottomCardWrapper .bottomCardContents {
    flex: 1 1;
    margin-right: .5rem;
    padding: 0 1.5rem 0 2rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.bottomCardWrapper .bottomCardContents::-webkit-scrollbar {
    width: .7rem
}

.bottomCardWrapper .bottomCardContents::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: .7rem solid #c1c1c1;
    border-radius: 1rem
}

.bottomCardWrapper .bottomCardFooter {
    padding: 1rem 1.1rem;
    background-color: #fff;
    border-radius: 0 0 1.3rem 1.3rem
}

.bottomCardWrapper .bottomCardFooter .buttonsWrap {
    display: flex;
    width: 100%;
    box-sizing: border-box
}

.bottomCardWrapper .bottomCardFooter .buttonsWrap .col {
    flex: 1 1;
    padding: 0 .4rem
}

.bottomCardWrapper .bottomCardFooter button {
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    background: #ccc;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700
}

.bottomCardWrapper .bottomCardFooter button.default {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-weight: 400
}

.bottomCardWrapper .bottomCardFooter button.important {
    background: #1769ff;
    font-weight: 700
}

.bottomCardWrapper .bottomCardFooter button.important[disabled] {
    border-color: #ccc;
    background: #ccc
}

.bottomCardWrapper .calendar_wrap .datepicker-main {
    padding-top: 2rem
}

.bottomCardWrapper .calendar_wrap .datepicker-cell .cellWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.bottomCardWrapper .calendar_wrap .datepicker-cell .cellWrap .date {
    padding: 0
}

.bottomCardWrapper.visible {
    display: flex
}

.bottomCardWrapper.animate {
    opacity: 1;
    transform: translate(-50%)
}

@media (min-width: 1025px) {
    .bottomCardWrapper {
        align-items:normal;
        max-width: none
    }

    .bottomCardWrapper.on {
        display: block
    }

    .bottomCardWrapper .bottomCardContainer {
        position: absolute;
        max-width: 60rem;
        max-height: 80vh;
        height: 63.7rem;
        top: 50%;
        left: 50%;
        padding-bottom: 2rem;
        transform: translate(-50%,-50%);
        border-radius: 1.3rem;
        box-shadow: 0 .6rem 1.5rem 0 rgba(0,0,0,.3)
    }

    .bottomCardWrapper .bottomCardContainer:before {
        display: none
    }

    .bottomCardWrapper .bottomCardContainer.full {
        height: 100%;
        border-radius: 0
    }

    .bottomCardWrapper .bottomCardContainer.full .bottomCardHeader {
        border-radius: 0
    }

    .bottomCardWrapper .bottomCardFooter {
        padding: 1rem 1.1rem 0
    }
}

.layerAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001
}

.layerAlert.active {
    display: block
}

.layerAlertConfirm {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30rem;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    box-shadow: 0 .6rem 1.5rem 0 rgba(0,0,0,.3);
    background-color: #fff;
    text-align: center
}

.layerAlertTitle {
    margin-top: 3.2rem;
    margin-bottom: -2.2rem;
    color: #000;
    font-size: 1.6rem;
    font-weight: 700
}

.layerAlertContent {
    max-height: 28.6rem;
    margin: 3rem .5rem 3rem 2rem;
    padding-right: 1.5rem;
    line-height: 1.9rem;
    box-sizing: border-box;
    color: #000;
    font-size: 1.5rem;
    overflow: auto
}

.layerAlertContent::-webkit-scrollbar {
    width: .7rem
}

.layerAlertContent::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: .7rem solid #c1c1c1;
    border-radius: 1rem
}

.layerAlertContent>:not(:first-child) {
    margin-top: .5rem
}

.layerAlertContent strong {
    display: block;
    font-weight: 700
}

.layerAlertContent em {
    font-weight: 700
}

.layerAlertContent .progress {
    margin: .9rem 0 -.6rem
}

.layerAlertContent .progress span {
    display: inline-block;
    margin: 0 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.layerAlertContent .progress span:first-child {
    animation: progressStep 1s infinite
}

.layerAlertContent .progress span:nth-child(2) {
    animation: progressStep 1s .1s infinite
}

.layerAlertContent .progress span:nth-child(3) {
    animation: progressStep 1s .2s infinite
}

.layerAlertContent .progress span:nth-child(4) {
    animation: progressStep 1s .3s infinite
}

.layerAlertBtnWrap {
    display: flex;
    align-items: center;
    border-top: .1rem solid #ddd
}

.layerAlertBtnWrap .layerAlertBtn {
    flex: 1 1;
    font-size: 1.5rem;
    line-height: 4.5rem;
    color: #000;
    text-align: center
}

.layerAlertBtnWrap .layerAlertBtn:not(:first-child) {
    border-left: .1rem solid #ebebeb
}

@keyframes progressStep {
    0% {
        background-color: hsla(0,0%,67%,.1)
    }

    to {
        background-color: #aaa
    }
}

.loadIndicatorCommon {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center
}

.loadIndicatorCommon .loader {
    display: flex;
    position: relative;
    width: 5.6rem;
    height: 5.1rem;
    background: url(//openimage.interpark.com/UI/tour/common/common/loader/loading_bg.svg) 0 0/100% auto no-repeat;
    align-items: center;
    justify-content: center
}

.loadIndicatorCommon img {
    width: 2rem;
    height: 2rem;
    padding-left: .4rem
}

.loadIndicatorCommon.visible {
    display: flex
}

.accessibility a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: .1rem;
    height: .1rem;
    background: #000;
    color: #fff;
    overflow: hidden;
    text-align: center
}

.accessibility a:focus {
    position: absolute;
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    z-index: 9999
}

#skipContent {
    position: absolute;
    width: .1rem;
    height: .1rem;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0 0 0 0)
}

.intRange {
    position: relative;
    width: 100%;
    margin-top: 2.4rem;
    padding: 0 1.2rem;
    box-sizing: border-box
}

.intRange:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: .4rem;
    background-color: #ccc;
    border-radius: .2rem
}

.intRange .customRange {
    position: relative;
    z-index: 1;
    height: .4rem;
    margin: 0 1.2rem
}

.intRange .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ccc
}

.intRange .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    background-color: #1769ff
}

.intRange .thumb {
    position: absolute;
    top: 50%;
    width: 2.4rem;
    height: 2.4rem;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,.2);
    background-color: #fff;
    font-size: 0;
    z-index: 10;
    border-radius: 2rem
}

.intRange .thumb:active {
    opacity: 1
}

.intRange .thumb.min {
    left: 25%;
    transform: translate(-2.4rem,-1.2rem)
}

.intRange .thumb.max {
    right: 25%;
    transform: translate(2.4rem,-1.2rem)
}

.intRange input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    width: calc(100% - 2.4rem);
    height: 10px;
    opacity: 0
}

.intRange input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0;
    border: 0;
    background-color: #ef3f43;
    cursor: pointer;
    -webkit-appearance: none
}

.intRange input[type=range].inputMin::-webkit-slider-thumb {
    transform: translateX(-1.2rem)
}

.intRange input[type=range].inputMax::-webkit-slider-thumb {
    transform: translateX(1.2rem)
}

.intRange .rangeInp {
    display: flex;
    justify-content: space-between;
    margin: 0 -1.2rem;
    padding-top: 2.4rem;
    font-size: 0;
    line-height: 1.5
}

.intRange .rangeInp strong {
    font-size: 1.3rem
}

.intRange .rangeInp em {
    font-size: 1.2rem
}

.topButton {
    display: none;
    visibility: hidden;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    z-index: 100;
    width: 5rem;
    height: 5rem;
    margin-left: 42rem;
    background: url(//openimage.interpark.com/UI/tour/common/common/icon_scrolltop.svg) 0 0/100% auto no-repeat;
    opacity: 0;
    transition: opacity .3s
}

@media (min-width: 1025px) {
    .topButton {
        display:block
    }

    .topButton.active {
        visibility: visible;
        opacity: 1
    }
}

.topButton span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -.1rem;
    width: .1rem;
    height: .1rem
}

html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 62.5%;
    background-color: #fff
}

body {
    font: normal 1.3rem/1.3 Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif
}

body * {
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    letter-spacing: 0;
    word-spacing: 0
}

.contentWrapper {
    width: 100%;
    min-width: 32rem;
    margin: 0 auto
}

.contentWrapper.popOpen {
    position: fixed;
    top: var(--window-scrollY);
    right: 0;
    left: 0
}

button,input,select,textarea {
    border: 0;
    padding: 0;
    box-shadow: 0;
    border-radius: 0;
    background: #fff;
    color: #000
}

a,button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

button:active {
    opacity: .5
}

select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

select::-ms-expand {
    display: none
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -.1rem;
    width: .1rem;
    height: .1rem
}

@media (max-width: 1025px) {
    .contentWrapper.popOpenMobile {
        position:fixed;
        top: var(--window-scrollY);
        right: 0;
        left: 0
    }
}

/*!
 _ _  _
| | || | tour-desktop-spa v0.6.43
| | || | INTERPARK UI Development Team
`___'|_| /styles/common/footer.scss

*/
.tourEnterFooter {
    overflow: hidden;
    min-width: 1280px;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,돋움,Dotum,Helvetica,sans-serif
}

.tourEnterFooter a,.tourEnterFooter a:link,.tourEnterFooter div,.tourEnterFooter h2,.tourEnterFooter li,.tourEnterFooter p,.tourEnterFooter span,.tourEnterFooter ul {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,돋움,Dotum,Helvetica,sans-serif;
    list-style: none;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    line-height: 17px
}

.tourEnterFooter .footCorp {
    border-bottom: 1px solid #e6e6e6
}

.tourEnterFooter .footInfo {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    padding: 30px 0
}

.tourEnterFooter .footNotice {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: left
}

.tourEnterFooter .footNotice p {
    color: hsla(0,0%,7%,.5);
    font-size: 12px;
    line-height: 18px
}

.tourEnterFooter .corpList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1280px;
    height: 50px;
    margin: 0 auto
}

.tourEnterFooter .corpList>li {
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box
}

.tourEnterFooter .corpList>li:first-child {
    padding-left: 0
}

.tourEnterFooter .corpList>li:last-child {
    padding-right: 0
}

.tourEnterFooter .corpList>li:last-child .depth {
    right: -5px
}

.tourEnterFooter .corpList>li:not(:first-child):before {
    content: "";
    position: absolute;
    top: 12px;
    left: 1px;
    width: 1px;
    height: 12px;
    background: #ccc
}

.tourEnterFooter .corpList>li.active .depth {
    display: block
}

.tourEnterFooter .corpList>li a {
    color: #333;
    font-size: 13px;
    vertical-align: top
}

.tourEnterFooter .corpList>li a.bold {
    font-weight: 700
}

.tourEnterFooter .corpList>li a.sub:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 4px 0 0 5px;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    transform: rotate(45deg);
    vertical-align: top
}

.tourEnterFooter .corpList .depth {
    display: none;
    position: absolute;
    top: 31px;
    right: 13px;
    z-index: 10;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0,0,0,.2);
    white-space: nowrap
}

.tourEnterFooter .corpList .depth li:not(:first-child) {
    margin-top: 10px
}

.tourEnterFooter .infoCol {
    text-align: left
}

.tourEnterFooter .infoCol:not(:first-child) {
    padding-left: 100px
}

.tourEnterFooter .infoTitle {
    color: #111;
    font-size: 14px;
    font-weight: 700
}

.tourEnterFooter .infoContent {
    margin-top: 4px;
    color: #666;
    font-size: 12px
}

.tourEnterFooter .infoContent p span:not(:first-child) {
    position: relative;
    padding-left: 11px
}

.tourEnterFooter .infoContent p span:not(:first-child):before {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 1px;
    height: 14px;
    background-color: #666
}

.tourEnterFooter .infoContent a {
    color: #666;
    font-size: 12px
}

.tourEnterFooter .infoContent .linkText {
    color: #4a95ff;
    text-decoration: underline
}

/*!
 _ _  _
| | || | tour v1.1.30
| | || | INTERPARK UI Development Team
`___'|_| /styles/components/common/headerMo.scss

*/
.pageHeader .headerInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: #fff
}

.pageHeader .headerInner .leftCol,.pageHeader .headerInner .rightCol {
    display: flex;
    align-items: center
}

.pageHeader .headerInner .leftCol button,.pageHeader .headerInner .rightCol button {
    height: 4.4rem
}

.pageHeader .headerInner .leftCol {
    min-width: 0
}

.pageHeader .headerInner .leftCol .logoCol {
    padding-left: 1rem
}

.pageHeader .headerInner .leftCol .logoButton {
    width: 6.68rem
}

.pageHeader .headerInner .rightCol .dropdown.active .dropdownContent {
    display: block;
    top: 5rem;
    right: 1.5rem;
    z-index: 21;
    padding: 0
}

.pageHeader .headerInner .rightCol .dropdown.active .dropdownContent:after {
    content: "";
    position: absolute;
    bottom: .4rem;
    left: 0;
    width: 100%;
    height: 1.4rem;
    background-image: linear-gradient(0deg,#fff 26%,hsla(0,0%,100%,0))
}

.pageHeader .headerInner .rightCol .dropdown.active .dropdownBtn:after {
    transform: translateY(-40%) rotate(135deg)
}

.pageHeader .headerInner .rightCol .dropdownContent {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: .1rem solid #000;
    border-radius: .6rem;
    background-color: #fff;
    box-shadow: 0 .6rem 1.5rem 0 rgba(0,0,0,.2);
    z-index: 2;
    box-sizing: border-box
}

.pageHeader .headerInner .rightCol .dropdownList {
    position: relative;
    overflow-y: auto
}

.pageHeader .headerInner .rightCol .dropdownItem {
    font-weight: 400
}

.pageHeader .headerInner .rightCol .dropdownItem.active {
    font-weight: 700
}

.pageHeader .headerInner .rightCol .dropdownItem:first-child .dropdownLink {
    padding-top: 1.5rem
}

.pageHeader .headerInner .rightCol .dropdownItem:last-child .dropdownLink {
    padding-bottom: 2rem
}

.pageHeader .headerInner .rightCol .dropdownLink {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #000;
    text-decoration: none;
    padding: 1rem 1.5rem
}

.pageHeader .headerInner .rightCol .dropdownLink span.newIcon {
    position: relative
}

.pageHeader .headerInner .rightCol .dropdownLink span.newIcon:after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    top: 0;
    right: -.5rem;
    width: .5rem;
    height: .5rem;
    background-color: #ef3e42;
    border-radius: 50%
}

.pageHeader .headerInner .middleCol {
    position: relative;
    flex: auto;
    padding: .8rem 0 0 2.1rem
}

.pageHeader .headerInner .middleCol .goSearch {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    text-align: left;
    border-radius: 2.3rem;
    border: .1rem solid #e8e8e8;
    background-color: #f3f3f3;
    font-size: 1.5rem;
    color: #000;
    font-weight: 400
}

.pageHeader .headerInner .middleCol .goSearch span {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    padding: 0 3.4rem 0 1.5rem
}

.pageHeader .headerInner .middleCol .buttonClear {
    position: absolute;
    top: 1.3rem;
    right: .7rem;
    width: 3rem;
    height: 3rem;
    text-indent: -9999rem
}

.pageHeader .headerInner .middleCol .buttonClear:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background: url(//openimage.interpark.com/tour-mobile/common/header/icon_deleteText.png) no-repeat 50%;
    background-size: 100% auto
}

.pageHeader .headerInner .textCol {
    position: relative;
    min-width: 0
}

.pageHeader .headerInner .textCol h1 {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #333
}

.pageHeader .headerInner .textCol h1.titleEllipsis {
    display: flex
}

.pageHeader .headerInner .textCol h1.titleEllipsis .ellipsis {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex: 1 1
}

.pageHeader .headerInner .buttonCol button {
    display: block;
    width: 4.4rem;
    background-position: 50%;
    border: none
}

.pageHeader .headerInner .buttonCol button:not(.myTourButton) {
    text-indent: -9999rem
}

.pageHeader .headerInner .buttonCol .myTourButton {
    position: relative
}

.pageHeader .headerInner .buttonCol .myTourButton span {
    position: absolute
}

.pageHeader .headerInner .buttonCol .myTourButton span:not(.count) {
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -.1rem;
    width: .1rem;
    height: .1rem
}

.pageHeader .headerInner .buttonCol .myTourButton span.count {
    top: 29%;
    left: 77%;
    display: block;
    height: 0;
    line-height: 4.4rem;
    padding: 0 .5rem 100%;
    color: #fff;
    font-size: 1.1rem;
    transform: translate(-50%,-50%)
}

.pageHeader .headerInner .buttonCol .myTourButton span.count:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    margin-top: -50%;
    height: 100%;
    background-image: url(//openimage.interpark.com/tour-mobile/common/header/bg_circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1
}

.pageHeader .headerInner .buttonCol .moreButton {
    position: relative
}

.pageHeader .headerInner .buttonCol .moreButton .newIcon:after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    top: .5rem;
    right: .1rem;
    width: 1rem;
    height: 1rem;
    background-color: #ef3e42;
    border-radius: 50%
}

.pageHeader .headerInner .buttonCol+.textCol {
    padding-left: 1.9rem
}

.pageHeader .headerInner .buttonCol+.textCol:before {
    content: "";
    position: absolute;
    left: 1rem;
    top: .25rem;
    width: .1rem;
    height: 1.3rem;
    background-color: #d9d9d9
}

.pageHeader .headerInner .goBackButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_goBack.svg) no-repeat 50%
}

.pageHeader .headerInner .logoButton {
    background: url(//openimage.interpark.com/tour-mobile/common/header/icon_logo_tour.svg) no-repeat 50%
}

.pageHeader .headerInner .myTourButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_myTour.svg) no-repeat 50%
}

.pageHeader .headerInner .searchButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_search.svg) no-repeat 50%
}

.pageHeader .headerInner .shareButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_share.svg) no-repeat 50%
}

.pageHeader .headerInner .mapButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_map.svg) no-repeat 50%
}

.pageHeader .headerInner .searchCircleButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_searchCircle.svg) no-repeat 50%
}

.pageHeader .headerInner .likeButton.active {
    background-image: url(//openimage.interpark.com/tour-mobile/common/header/icon_likePoint.svg)
}

.pageHeader .headerInner .moreButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_more.svg) no-repeat 50%
}

.pageHeader .headerInner .closeButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_close.svg) no-repeat 50%
}

.pageHeader .headerInner .hamburgerButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_hamburger.svg) no-repeat 50%
}

.pageHeader .headerInner .notiButton.active {
    position: relative
}

.pageHeader .headerInner .notiButton.active:after {
    content: "";
    position: absolute;
    top: .9rem;
    right: .8rem;
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #ef3f43;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3)
}

.pageHeader .headerInner .settingButton {
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_setting.svg) no-repeat 50%
}

.intHeaderMobile.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100
}

.intHeaderMobile.fixed~.activityContainer,.intHeaderMobile.fixed~.wrapper {
    margin-top: 5rem
}

.intHeaderMobile.isApp .logoCol {
    display: none
}

.intHeaderMobile.isApp .logoCol+.textCol {
    padding-left: 1rem
}

.intHeaderMobile.isApp .logoCol+.textCol:before {
    display: none
}

.intHeaderMobile.isApp .middleCol {
    padding: .8rem 1rem 0
}

.intHeaderMobile.isApp .middleCol .buttonClear {
    right: 1.6rem
}

.intHeaderMobile.isMain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100
}

.intHeaderMobile.isMain .leftCol .logoButton {
    width: 66.8px;
    background: #fff url(//openimage.interpark.com/tour-mobile/common/header/icon_logo_tour.svg) no-repeat 50%
}

.inApp .pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999
}

.inApp .pageHeader .logoCol {
    display: none
}

.inApp .pageHeader .logoCol+.textCol {
    padding-left: 1rem
}

.inApp .pageHeader .headerInner .buttonCol .hamburgerButton,.inApp .pageHeader .logoCol+.textCol:before {
    display: none
}

.inApp .pageHeader+.contents {
    padding-top: 5rem
}

.inApp .pageHeader .middleCol {
    padding: .8rem 1rem 0
}

.inApp .pageHeader .middleCol .buttonClear {
    right: 1.7rem
}

.isMain.pageHeader .logoCol {
    display: block
}

/*!
 _ _  _
| | || | tour-mobile v4.7.64
| | || | INTERPARK UI Development Team
`___'|_| /styles/common/intFooter.scss

*/
.footer {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Droid Sans,Helvetica Neue,Apple SD Gothic Neo,"sans-serif",sans-serif
}

.footerInner {
    padding: 30px 20px 100px;
    margin: 0;
    text-align: center;
    font-size: 11px;
    background-color: #fafafa
}

.footerInner,.footerInner a {
    color: hsla(0,0%,7%,.5)
}

.footerInner button {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: 0
}

.footerPolicy {
    max-width: 300px;
    margin: 0 auto
}

.footerPolicy ul {
    font-size: 0
}

.footerPolicy li {
    display: inline-block;
    margin-bottom: 2px
}

.footerPolicy li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 6px;
    background: hsla(0,0%,7%,.5)
}

.footerPolicy li:first-child:before,.footerPolicy li:nth-child(4):before {
    display: none
}

.footerPolicy a,.footerPolicy button {
    color: #333;
    font-size: 11px;
    line-height: 13px
}

.footerPolicy a b,.footerPolicy button b {
    font-weight: 700
}

.footerPolicy button {
    cursor: pointer
}

.footerPolicy button:after {
    position: relative;
    top: -1px;
    content: "";
    display: inline-block;
    width: 10px;
    height: 11px;
    vertical-align: middle;
    margin-left: 1px;
    background: url(//openimage.interpark.com/.ui/interparkMain/2019/common/footer/mobile/footer_arrow.svg) no-repeat 50%
}

.footerInfoBtn {
    display: flex;
    justify-content: center;
    margin: 14px auto 10px
}

.footerInfoBtn button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 17px;
    color: #333;
    font-size: 11px;
    cursor: pointer
}

.footerInfoBtn button b {
    font-weight: 700
}

.footerInfoBtn button:after {
    content: "";
    width: 10px;
    height: 11px;
    margin-top: 0;
    background: url(//openimage.interpark.com/.ui/interparkMain/2019/common/footer/mobile/footer_arrow.svg) no-repeat 50%
}

.footerInfoBtn button[aria-expanded=true]:after {
    transform: rotateX(180deg)
}

.footerInfoBtn button[aria-expanded=false]:after {
    top: 2px
}

.footerInfoBtn button:nth-child(2):before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 7px;
    background: rgba(0,0,0,.3)
}

.footerInfoInner {
    display: none;
    overflow: hidden;
    margin: 0 auto
}

.footerInfoInner.open {
    display: block
}

.footerInfoInner .info,.footerInfoInner .tel {
    max-width: 260px;
    text-align: left;
    line-height: 17px;
    margin: 0 auto
}

.footerInfoInner .info .infoLink,.footerInfoInner .tel .infoLink {
    text-decoration: underline;
    color: #333;
    margin-left: 3px
}

.footerInfoInner .info li,.footerInfoInner .tel li {
    display: flex;
    flex-wrap: wrap;
    color: hsla(0,0%,7%,.5);
    line-height: 17px
}

.footerInfoInner .info li span:first-child:after,.footerInfoInner .tel li span:first-child:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: -1px 4px;
    background: rgba(0,0,0,.3)
}

.footerInfoInner .tel {
    margin: 6px auto 0
}

.footerNotice {
    max-width: 335px;
    margin: 16px auto 0
}

.footerNotice p {
    line-height: 14px;
    font-size: 10px;
    color: hsla(0,0%,7%,.5)
}
